.header{
    height: 4rem;
    display:flex;
    z-index: 10;
    position: sticky;
    overflow: hidden;
    height: 20vh;
    top: 0;
    display: flex;
    /* flex-direction: column; */
    padding-left: 120px;
    background-color: #f17d11;
    color: #ffff;
    justify-content: space-around;

}

.header_details  h3{
    font-size: x-large;
    /* margin-top: 45px; */
    /* margin-bottom: -10px; */
}

.container{
    display: flex;
    position: relative;
}

.main{
    width: 83%;
    height: 80vh;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h1{
    color: #f17d11;
}

.header_details{
    margin-top: 40px;
}

.logout{
    width: 100px;
    height: 50px;
    background-color: cornsilk;
    color: #f17d11;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
}
