.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f17d11;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: #eaeaea;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}


.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: #eaeaea;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}



.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.form{
  display: flex;
  flex-direction: column;
}

.form label {
  padding-bottom: 5px;
}

.field, .signin{
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 15px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signin{
  border: 2px solid #f17d11;
  font-weight: bolder;
  font-size: large;
}
